*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  }
  
body{
  box-sizing: border-box;
}
  
  .logo {
      width: 100px;
      margin: 0 auto;
  }
  
  .logo img{
    max-width:100%;	
  }
  
  .sidenav{
    background-color:#333 ;
    width: 150px;
    height: 100%;
    text-align: center;
    position: fixed;
    overflow: scroll;
  }
  
  .sidenav a{
    display: block;
    padding: 20px 0;
    color: #fff;
    font-size: 15px;
  }
  
  .sidenav a:hover{
    color: #333;
    background-color: #fff;
    font-weight: bold;
    border-right: 2px solid #ffffff;
  }
  
  .sidenav .fa{
    display: inline-block;
  }
  
  .single-nav {
      border-bottom: 1px solid #fff;
  }
  
  .content {
      padding: 0 0 0 200px;
  }